App/build
App/Pods
App/output
App/App/public
DerivedData
xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml

# Capacitor'ın kopyaladığı web çıktısı ve derleme artıkları
App/App/public
App/Pods
App/build
App/output
App/DerivedData
App/xcuserdata
